.container {
  display: grid;
  grid-template-columns: 128px auto;
  grid-template-rows: 128px auto;
  gap: 30px 30px;
}

.info {
  grid-column-start: span 2;
}

.heading-with-link {
  align-self: center;
  display: flex;

  a {
    margin-left: 25px;
    align-self: center;
  }

  h1 {
    margin-bottom: 0;
  }
}

