.menu-button {
  background-color: transparent;
  border: none;
}

.name {
  text-decoration: none;
}

mat-sidenav {
  max-width: 18.75rem; // 300px
  min-width: 12.5rem; // 200px
}

mat-sidenav-content {
  padding: 3rem;
}
