@import '../scss/variables';

.menu-button {
  background-color: transparent;
  border: none;
}

.name {
  text-decoration: none;
}

mat-sidenav {
  max-width: 18.75rem; // 300px
  min-width: 12.5rem; // 200px

  .active-menu-item {
    background-color: $accent;
    color: white;
  }
}

mat-sidenav-content {
  padding: 3rem;
}
