<mat-toolbar>
  <mat-toolbar-row>
    <a class="name" routerLink="/">Heroes App</a>

    <!-- Fill space to the left to right-align the row content -->
    <span class="fill-space"></span>

    <button
      class="menu-button"
      mat-icon-button
      (click)="sideNav.toggle()"
      [ngSwitch]="sideNav.opened"
    >
      <mat-icon *ngSwitchCase="true">close</mat-icon>

      <mat-icon *ngSwitchDefault>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

  <mat-sidenav #sideNav mode="side" position="end" fixedTopGap="64">
    <mat-nav-list (click)="sideNav.toggle()">
      <a mat-list-item routerLink="/">Home</a>

      <a mat-list-item routerLink="/heroes/create">Create</a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
