<div>
  <h1>
    Edit hero
  </h1>
</div>

<ng-container *ngIf="hero$ | async as hero; else fetchingData">
  <form [formGroup]="editForm" (ngSubmit)="onSubmit(hero.id, editForm)">
    <app-hero-form [formControl]="editForm.controls['hero']"></app-hero-form>

    <div>
      <button
        [disabled]="editForm.invalid"
        type="submit"
        color="primary"
        mat-raised-button
        i18n
      >
        Save
      </button>

      <a mat-raised-button [routerLink]="['/heroes', hero.id]" i18n>
        Cancel
      </a>
    </div>
  </form>
</ng-container>

<ng-template #fetchingData>
  <mat-spinner diameter="25"></mat-spinner>
</ng-template>
